body {
  background-color: #FFF2DB;
  font-family: "Gill Sans", sans-serif;
}

a {
  text-decoration: none;
}

.photodiv {
  margin-top: 60px;
  margin-bottom: 40px;
}

.introductiontitle {
  margin-left: 30%;
  margin-right: 30%;
}

.introduction {
  margin-left: 30%;
  margin-right: 30%;
  text-align: justify;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.current {
  color: green;
}